<div class="container">
	<h1>Prueba técnica - Estudio Faser</h1>
	<h2>Listado de tareas</h2>
	<div class="container-inputs">
		<input type="text" placeholder="Tarea" #task>
		<input type="number" placeholder="Tiempo" #time>
		<button (click)="addTask(task.value, time.value)">Añadir</button>
	</div>
	<table>
		<tr *ngFor="let tarea of tareas; let index of i">
			<th>
				{{tarea.titulo}} ({{tarea.minutos}} minutos)
				<input type="checkbox" value="{{i}}" (change) ="pruebas($event.currentTarget.checked, index)">
			</th>
		</tr>
	</table>
	<button (click) = "handleRemoveTask()">Elminar tareas</button>
</div>