<div class="container">
	<h1>Prueba técnica - Estudio Faser</h1>
	<h2>Listado de tareas</h2>
	<div class="container-inputs">
		<input type="text" placeholder="Tarea" #task>
		<input type="number" placeholder="Tiempo" #time>
		<button (click)="addTask(task.value, time.value)">Añadir</button>
	</div>
	<table>
		<tr>
			<th><button (click)="orderByTask()">Ordenar</button></th>
			<th><button (click)="orderByTime()">Ordenar</button></th>
		</tr>
		<tr *ngFor="let tarea of tareas; let index of i">
			<th>
				{{tarea.titulo}}
			</th>
			<th>
				({{tarea.minutos}} minutos)
			</th>
			<th>
				<input type="checkbox" value="{{i}}" (change)="pruebas($event.currentTarget.checked, index)">
			</th>
		</tr>
	</table>
	<button (click)="handleRemoveTask()">Elminar tareas</button>
</div>